{% extends 'base.html.twig' %}

{% block title %}Vakom Lens : {{title}}{% endblock %}

{% block body %}
    <h1>{{title}}</h1>

    {{ include('formulaire/_form.html.twig') }}

    <a href="{{ path('home') }}">Retour à la page d'acceuil</a>
{% endblock %}
