{% extends 'base.html.twig' %}

{% block title %}Vakom Lens{% endblock %}

{% block body %}
    <body>
        <header class="header">
            <nav class="navbar">
                <a href="#acceuil">Acceuil</a>
                <a href="#about">A propos</a>
                <a href="#prestation">Prestations</a>
                <a href="#recrutement">Rectrutement</a>
                <a href="#avis">Avis</a>
                <a href="/contact.html">Contact</a>
                <a href="/blog.html">Blog</a>
            </nav>
            <h1 class="header--acceuil" id="acceuil">VAKOM Lens</h1>
            <img class="header--logo" src="./img/VAKOM logo BLANC.png" alt="Vakom, le sens de l'humain">
            <button>Découvrir</button>
        </header>

        <body>
            <div class="satisfaction">
                <img src="../img/student-147783.png" alt="Illustration étudiant">
                <p class="indicateur">40 stagiaires aidés</p>
                <p class="indicateur">80 formations dispensées</p>
                <p class="indicateur">20 conférences</p>
                <p class="indicateur">99% de clients satisfaits</p>
            </div>

            <div class="about" id="about">
                <div>
                    <h2>À propos de Vakom :</h2>
                    <h3>Section 1</h3>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                        duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. </p>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                        duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. </p>
                    <button>Nos prestations</button>
                </div>
                <div>
                    <h3>Section 2</h3>
                    <p>Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet
                        minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                        enim velit mollit.</p>
                    <p>Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        Consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit
                        non deserunt ullamco est sit aliqua dolor do amet sint. </p>
                </div>
                <div>
                    <img src="../img/Plantes.jpg" alt="Plantes du bureau de VAKOM">
                </div>
                <div><img src="https://via.placeholder.com/350x600" alt=""></div>
                <div>
                    <h3>Handicap</h3>
                    <p>Vakom est particulièrement attentif à l’intégration des personnes en situation de handicap. Aussi, en
                        cas de handicap nécessitant une adaptation de la formation, contactez-nous, nous étudierons alors
                        les possibilités pour vous accueillir dans les meilleures conditions.</p>
                    <div class="referent">
                        <img class="referent--image" src="../img/handi.png" alt="Pictogramme handicap">
                        <ul class="referent--contact">
                            Référent Handicap : </li>
                            <li>Bénédicte NICOLAS – </li>
                            <li>bnicolas@vakom.fr – </li>
                            <li>06.82.27.94.18</li>
                        </ul>
                    </div>
                    <h3>Réclamations</h3>
                    <p>Vous souhaitez faire une réclamation sur une de nos prestations ? Vous pouvez nous écrire à
                        lens@vakom.fr <br>
                        Nous vous garantissons une réponse dans les 48 heures.</p>
                </div>
                <div>
                    <h3>Financement</h3>
                    <p>VAKOM à Lens a obtenu la certification QUALIOPI en décembre 2020 pour ses activités Formation et
                        Bilans de Compétences.</p>
                    <p>Cette certification atteste de notre engagement et de notre investissement dans une démarche
                        d'amélioration continue pour offrir à nos stagiaires et bénéficiaires un accompagnement de qualité.
                        <br>
                        Elle facilite également l'accès de nos clients au financement de fonds publics pour la prise en
                        charge de nos prestations.</p>
                    <div>
                        <img src="../img/LogoQualiopi-300dpi-Avec Marianne.png" alt="Logo qualiopi">
                        <img src="../img/Picto_datadocke.jpg" alt="Logo datadocké">
                    </div>
                </div>
                <div class="about--buttons">
                    <button>Livret d'acceuil</button>
                    <button>Guide distanciel</button>
                    <button>Guide présentiel</button>
                    <button>Tarifs</button>
                </div>
            </div>

            <div>
                séparateur image
            </div>

            <div class="prestation" id="prestation">
                <h2>Nos prestations</h2>
                <div class="prestation--card">
                    <h3>Conseil</h3>
                    <p>Accompagnement dans la conduite du changement stratégique et organisationnel, développement des
                        ressources humaines et des compétences (GPEC), qualité de vie au travail, gouvernance d’entreprise
                    </p>
                    <a href="/contact/new/conseil"><button>En savoir plus</button></a>
                </div>
                <div class="prestation--card">
                    <h3>Formation</h3>
                    <p>Evolution de vos équipes en cohérence avec vos projets d’entreprise grâce à une pédagogie impliquante
                        et efficace. Nos domaines d’intervention sont le management, la performance commerciale, les
                        ressources humaines et compétences, la communication et développement professionnel, la qualité de
                        vie au travail et les certifications OPR.</p>
                    <a href="/contact/new/formation"><button>En savoir plus</button></a>
                </div>
                <div class="prestation--card">
                    <h3>Rectrutement & Evaluation</h3>
                    <p>Identification, attraction, intégration et fidélisation des talents recrutés pour la pérennité et le
                        développement de votre activité.</p>
                    <a href="/contact/new/recrutement"><button>En savoir plus</button></a>
                </div>
                <div class="prestation--card">
                    <h3>Orientation Professionnelle</h3>
                    <p>Accompagnement vos collaborateurs dans leur parcours avec une offre sur mesure.</p>
                    <a href="/contact/new/orientation"><button>En savoir plus</button></a>
                </div>
                <div class="prestation--card">
                    <h3>Coaching</h3>
                    <p>Accompagnement individuel et/ou collectif pour les dirigeants, managers, commerciaux ou
                        collaborateurs.</p>
                    <a href="/contact/new/coaching"><button>En savoir plus</button></a>
                </div>
                <div class="prestation--card">
                    <h3>Conférence</h3>
                    <p>Vous faire vivre des moments privilégiés avec du rythme et des messages forts sur des thèmes tels que
                        l’optimisme, le management, la conduite du changement, le bien-être et la performance,
                        l’intergénérationnel, le langage non verbal.</p>
                    <a href="/contact/new/conference"><button>En savoir plus</button></a>
                </div>
            </div>

            <div class="vakomLens">
                <img src="https://via.placeholder.com/600x900" alt="portrait de benedicte vincent">
                <div class="vakomLens--content">
                    <h2>Qui est VAKOM-Lens</h2>
                    <h3>Section 1</h3>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                        duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. </p>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                        duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. </p>
                    <h3>Section 2</h3>
                    <p>Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet
                        minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                        enim velit mollit.</p>
                    <p>Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        Consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit
                        non deserunt ullamco est sit aliqua dolor do amet sint. </p>
                    <div>
                        <h4>Mes reseaux</h4>
                        <div>
                            <img src="/img/icons8-linkedin-entouré-100.png" alt="logo linkedin">
                            <img src="/img/icons8-facebook-entouré-100.png" alt="logo facebook">
                        </div>
                    </div>
                </div>
                <button>Me contacter</button>
            </div>

            <div class="avis" id="avis">
                <div class="avis__left">
                    <h3>Kristin Watson</h3>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                        duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    <img src="https://via.placeholder.com/600x900" alt="portrait client">
                </div>
                <div class="avis__right__title">
                    <h2 class="avis--title">Qui avons nous aidé</h2>
                    <h3>Dianne Russell</h3>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                        duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    <img src="https://via.placeholder.com/600x900" alt="portrait client">
                </div>
                <div class="avis__left">
                    <h3>Darrell Steward</h3>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                        duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    <img src="https://via.placeholder.com/600x900" alt="portrait client">
                </div>
                <div class="avis__right">
                    <h3>Wade Waren</h3>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                        duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    <img src="https://via.placeholder.com/600x900" alt="portrait client">
                </div>
                <div class="avis__left">
                    <h3>Courtney Henry</h3>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                        duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    <img src="https://via.placeholder.com/600x900" alt="portrait client">
                </div>
            </div>

            <div class="blog">
                <h2>Blog</h2>
                <div class="blog--card">
                    <h3>Article 1</h3>
                    <p>
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        Sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation venia
                    </p>
                    <button>Ouvrir</button>
                </div>
                <div class="blog--card">
                    <h3>Article 2</h3>
                    <p>
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        Sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation venia
                    </p>
                    <button>Ouvrir</button>
                </div>
                <div class="blog--card">
                    <h3>Article 3</h3>
                    <p>
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        Sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation venia
                    </p>
                    <button>Ouvrir</button>
                </div>
                <button>Ouvrir le blog</button>
            </div>
        </body>
        <footer>
            <!-- background bandeau vakom pied de page 1-->
            <div>
                <div>
                    <img src="/img/icons8-linkedin-entouré-100.png" alt="logo linkedin">
                    <img src="/img/icons8-facebook-entouré-100.png" alt="logo facebook">
                    <img src="/img/icons8-logo-google-100.png" alt="logo google">
                </div>
                Vakom © 2020 - Realisé par : ---
            </div>
            <nav class="footer--nav">
                <ul>
                    <li><a href="#acceuil">Acceuil</a></li>
                    <li><a href="#about">A propos</a></li>
                    <li><a href="#prestation">Prestations</a></li>
                    <li><a href="#avis">Avis</a></li>
                    <li><a href="#recrutement">Rectrutement</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                    <li><a href="/blog.html">Blog</a></li>
                </ul>
            </nav>
        </footer>

    </body>
{% endblock %}
